/*******************
Widgets
********************/

//Product on sale/Latest Product Widgets
.widget {
	.wpsc-widget-latest-product-list,
	.wpsc-widget-latest-product-list li {
	    list-style: none;
	}
	.wpsc-widget-latest-product-list {
	    margin: 0;
	    padding: 0;
	    font-size: $base-font;
	}
	.widget_wpsc_widget_on_sale {
		.wpsc-widget-latest-product-list-item {
		    margin-bottom: 30px;
		}
		.wpsc-widget-latest-product-list-item:last-of-type {
		    margin-bottom: 0;
		}
	}
	.wpsc-product-thumbnail img {
	    margin-bottom: 20px;
	}
	.wpsc-product-price {
		padding-left: 0;
	}
	ins.wpsc-sale-price {
	    background: initial;
	}
	.wpsc-widget-product-title {
		font-size: $title-size-col-4;
	}
	.wpsc-product-price {
	    margin-left: 0;
	}
	.wpsc-product-price li {
	    display: inline-block;
	}
}
#secondary .wpsc-widget-latest-product-list {
    margin-left: 0;
}

//Shopping-Cart Widget
.widget {
	.wpsc-cart-item-title {
		font-size: $title-size-col-4;
	}
}